@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwind-scrollbar";


@plugin "daisyui/theme" {
  name: "theme-chat";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(20% 0.042 265.755);
  --color-base-200: oklch(12% 0.042 264.695);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(63% 0.237 25.331);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(72% 0.219 149.579);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@layer base {
  .list-wrap {
    @apply cursor-pointer border-b-2 border-base-300 hover:bg-base-300 hover:rounded-md p-2 last:border-b-0;
  }

  .list-wrap-child {
    @apply flex items-center gap-2;
  }

  .list-wrap-child-two {
    @apply flex flex-1 items-start justify-between;
  }

  .list-active {
    @apply bg-base-300;
  }
}